In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20190901', periods=10)

In [3]:
df = pd.DataFrame(np.random.randn(10,5),index=dates,columns={"Rand_A", "Rand_B", "Rand_C", "Rand_D", "Rand_E"})

In [4]:
df

              Rand_A    Rand_E    Rand_C    Rand_D    Rand_B
2019-09-01  2.096743  1.162213  0.946007  0.469895 -0.063780
2019-09-02  0.932560 -0.439122  1.729468  0.583514 -0.287404
2019-09-03 -0.674822 -0.351544  1.314772 -1.644808 -1.113318
2019-09-04 -0.891556 -0.936772  0.204944  0.880675  0.348416
2019-09-05 -0.426171  0.926382 -0.290354  1.407266 -0.942922
2019-09-06  0.282148  2.146523 -0.155217  0.320865  0.442007
2019-09-07 -0.075802  0.142222 -0.635275 -0.519280  0.112458
2019-09-08  0.908411  0.131336  0.879687 -0.016738  0.552398
2019-09-09  0.655663 -0.599569 -0.230790  0.213878  0.167466
2019-09-10 -0.554291  0.984001 -0.671716  2.006060 -1.097236

In [5]:
df.max()

Rand_A    2.096743
Rand_E    2.146523
Rand_C    1.729468
Rand_D    2.006060
Rand_B    0.552398
dtype: float64

In [6]:
df['Rand_A']

2019-09-01    2.096743
2019-09-02    0.932560
2019-09-03   -0.674822
2019-09-04   -0.891556
2019-09-05   -0.426171
2019-09-06    0.282148
2019-09-07   -0.075802
2019-09-08    0.908411
2019-09-09    0.655663
2019-09-10   -0.554291
Freq: D, Name: Rand_A, dtype: float64